# docker-compose.yml

version: "3.8"

services:
  web:
    build: .
    command: bash -c 'while !</dev/tcp/db/5432; do sleep 1; done; uvicorn app.main:app --host 0.0.0.0'
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    expose:
      - 8000
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_PORT=5432
      - POSTGRES_HOST=db
      - OPENAI_KEY=${OPENAI_KEY}
    depends_on:
      - db
      - redis
  db:
    image: postgres:15-alpine
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - "5432:5432"
    expose:
      - 5432
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
  redis:
    image: redis:alpine
    restart: always
    networks:
      - default
    ports:
      - "6379:6379"
    expose:
      - 6379
    command: redis-server --save 20 1 --loglevel warning --requirepass jfhuez8f32fhfqnbef8g29hqnf024
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:
